* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #f9fac4;
}

.brand {
    width: 100px;
}

.logo{
    width: 100%;
    border-radius: 45%;
    margin-left: 20px;
}

.header{
    background-image: linear-gradient(
        to right,
        #064635 0%,
        #0B4619 41%,
        #116530 52%,
        #B2EA70 68%,
        #116530 88%,
        #064635 100%


    );
   
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: end;
}

.hover_button{
    background-color: #FFFDA2;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;
}
.hover_button:hover {
    border: 2px solid #950101;
    cursor: pointer;
}