* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #f9fac4;
}

.brand {
    width: 100px;
}

.logo{
    width: 100%;
    border-radius: 45%;
    margin-left: 20px;
}

.header{
    background-image: linear-gradient(
        to right,
        #064635 0%,
        #0B4619 41%,
        #116530 52%,
        #B2EA70 68%,
        #116530 88%,
        #064635 100%


    );
   
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: end;
}

.hover_button{ 
    background-color: #f9fac4;
    border: 3px solid #f9fac4;
    border-radius: 6px;
    font-weight: 800;
    padding: 20px;
    
}
.hover_button:hover {
    background-color: #FFFDA2;
    border: 2px solid #000000;
    cursor: pointer;
   
}

.image_grid_1{
    height: 95%;
    width: 95%;
    border: 10px solid #ffffff;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 40%);
}

.image_grid{
    height: 100%;
    width: 100%;
    border: 10px solid #ffffff;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 40%);
}

.row {
    width:40%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* padding:0 4px; */
    /* border-radius: 10px 10px 0 10px; */
  }
  .column {
     max-width: 40%;
    flex: 30%;
    /* border-radius: 10px 10px 0 10px; */
    /* padding:  0 4px; */
  }

.bg-text{
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.3); /* Black w/opacity/see-through */
  color: white;
  font-size: 25px;
  font-weight: 600;
  border: 7px solid #ffffff;
  position: absolute;
  top: 40%;
  left: 67%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 55%;
  height: 20%;
  padding: 30px;
  text-align: center;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 40%);
}
.intro{
    margin-left: 40px;
    width: 90%;
    padding: 20px;
    display: flex;
  
    justify-content: space-between;

}
.heading1{
    color: #000000; 
    background-image: linear-gradient(
        to right,
        #f9fac4 0%,
        #FFE162 35%,
        #FF9F45 45%,
        #FFE162 82%,
        #f9fac4 100%

    );
    padding: 20px;
    margin: 20px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
  
}
.about_para{
    font-size: 15px;
    font-weight: 500;
    padding-right: 50px;
   gap: 20px;
}
.about_image{
    border: 7px solid #ffffff;
    /* box-shadow: 0 25px 50px -12px rgb(0 0 0 / 40%); */
     position: relative;  
}
 .about_image_container{
    position: absolute; 
    left: 65%;
    width: 30%;
    height: 45%;
    background-image: linear-gradient(
        to right,
        #064635 0%,
        #0B4619 41%,
        #116530 52%,
        #B2EA70 68%,
        #116530 88%,
        #064635 100%
    );
    z-index: -2;
    transform: skewY(-5deg); 
} 
.heading2{
    background-image: linear-gradient(
        to right,
        #f9fac4 0%,
        #FFE162 35%,
        #FF9F45 45%,
        #FFE162 82%,
        #f9fac4 100%

    );
    padding: 20px;
    margin: 20px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
}