* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #f9fac4;
}

.brand {
    width: 100px;
}

.logo{
    width: 100%;
    border-radius: 45%;
    margin-left: 20px;
}

.header{
    background-image: linear-gradient(
        to right,
        #064635 0%,
        #0B4619 41%,
        #116530 52%,
        #B2EA70 68%,
        #116530 88%,
        #064635 100%


    );
   
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: end;
}

.hover_button{ 
    background-color: #f9fac4;
    border: 3px solid #f9fac4;
    border-radius: 6px;
    font-weight: 800;
    padding: 20px;
    
}
.hover_button:hover {
    background-color: #FFFDA2;
    border: 2px solid #000000;
    cursor: pointer;
   
}

.image_grid_1{
    height: 95%;
    width: 95%;
    border: 10px solid #ffffff;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 40%);
}

.image_grid{
    height: 100%;
    width: 100%;
    border: 10px solid #ffffff;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 40%);
}

.row {
    width:40%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* padding:0 4px; */
    /* border-radius: 10px 10px 0 10px; */
  }
  .column {
     max-width: 40%;
    flex: 30%;
    /* border-radius: 10px 10px 0 10px; */
    /* padding:  0 4px; */
  }

.bg-text{
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.3); /* Black w/opacity/see-through */
  color: white;
  font-size: 25px;
  font-weight: 600;
  border: 7px solid #ffffff;
  position: absolute;
  top: 40%;
  left: 67%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 55%;
  height: 20%;
  padding: 30px;
  text-align: center;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 40%);
}
.intro{
    margin-left: 40px;
    width: 90%;
    padding: 20px;
    display: flex;
  
    justify-content: space-between;

}
.heading{
    color: #000000; 
    background-image: linear-gradient(
        to right,
        #f9fac4 0%,
        #FFE162 35%,
        #FF9F45 45%,
        #FFE162 82%,
        #f9fac4 100%

    );
    padding: 20px;
    margin: 20px;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
  
}
.about_para{
    font-size: 15px;
    font-weight: 500;
    padding-right: 50px;
   gap: 20px;
}
.about_image{
    border: 7px solid #ffffff;
    /* box-shadow: 0 25px 50px -12px rgb(0 0 0 / 40%); */
     position: relative;  
}
 .about_image_container{
    position: absolute; 
    left: 65%;
    width: 30%;
    height: 45%;
    background-image: linear-gradient(
        to right,
        #064635 0%,
        #0B4619 41%,
        #116530 52%,
        #B2EA70 68%,
        #116530 88%,
        #064635 100%
    );
    z-index: -2;
    transform: skewY(-5deg); 
} 

.services{
     align-items: center;
}
.map_pic{ 
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 40%);
}

.owner_pic{
    margin-left: 30px;
    border: 7px solid #ffffff;
    margin-right: 30px;
}
.owner_intro{
    font-size: 25;
    font-weight: 500px;
}
.owner_sec{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tele_pic:hover {
        /* Start the shake animation and make the animation last for 0.5 seconds */
        animation: shake 0.5s;
      
        /* When the animation is finished, start again */
        animation-iteration-count: infinite;
      }
      
      @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-1deg); }
        20% { transform: translate(-3px, 0px) rotate(1deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(1deg); }
        50% { transform: translate(-1px, 2px) rotate(-1deg); }
        60% { transform: translate(-3px, 1px) rotate(0deg); }
        70% { transform: translate(3px, 1px) rotate(-1deg); }
        80% { transform: translate(-1px, -1px) rotate(1deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-1deg); }
      }
.contact{
    display: flex;
    justify-content: space-around;
}
.footer{
    background-color: #0B4619;
    height: 80px;
    padding:30px;
   color: #ffffff;
}